<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <title>Login</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="box">

        <div class="header">
            <a href="#"><h1>BiyaHeroes</h1></a>
            <p>Please enter your login credentials</p>
        </div>

        <form action="/admin" method="post" id="form">
            <div class="form-item">
                <label for="email">Email</label>
                    <input name="email" type="text" id="email" placeholder="Email">
                    <small>Error Message</small>
            </div>
    
            <div class="form-item">
                <label for="password">Password</label>
                    <input name="password" type="password" id="password" placeholder="Password">
                    <small>Error Message</small>
            </div>

            <div class="btn">
                <button type="submit">Submit</button>
            </div>
        </form>
        
    </div>
    
</body>
</html>