<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fare Calculator</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/fare-calc.css">

</head>

<body>

    <header>

        <nav class="navbar navbar-expand-md">
            <a href="/commuter/dashboard" class="navbar-brand"><h2>BiyaHeroes</h2></a>

            <button 
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#toggleMobileMenu"
            aria-controls="toggleMobileMenu"
            aria-expanded="false"
            aria-label="Toggle Navigation">
            
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="toggleMobileMenu">
                <ul class="navbar-nav ms-auto">

                    <li>
                        <a class="nav-link" href="/commuter/report/violation">Report a Violation</a>
                    </li>

                    <li>
                        <a class="nav-link" href="/commuter/report/missing-item">Report Missing Item</a>
                    </li>

                    <li>
                        <a class="nav-link" href="/commuter/history/violation">History</a>

                        <ul>
                            <li><a href="/commuter/history/violation">Violations</a></li>
                            <li><a href="missing-item-history.html">Missing Item</a></li>
                        </ul>
                    </li>

                    <li>
                        <a class="nav-link active" href="/commuter/fareCalculator">Fare Calculator</a>
                    </li>

                    <li>
                        <a class="nav-link" href="/commuter/profile">Profile</a>
                    </li>

                    <li>
                        <a class="nav-link logout" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="banner">
            <h2>Fare Calculator</h2>
        </div>
    </header>

    <section class="container">

        <div class="row my-5">
            <div class="col-md-6">
                <div id="map">Map</div>
            </div>

            <div class="col-md-6">

                <form action="" class="mb-3">

                    <!--PICK-UP POINT FIELD-->
                    <div class="input-group mb-3">
                        <input type="text" id="pick-up" class="form-control" placeholder="Pick-up" aria-label="Pick-up" aria-describedby="basic-addon2">
                        <input type="hidden" id="latlng-pickup" value="">
                        <div class="input-group-append">
                          <button class="geo-btn btn btn-outline-secondary" id="pick-up-btn" type="button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999zm2.493 8.574a.5.5 0 0 1-.411.575c-.712.118-1.28.295-1.655.493a1.319 1.319 0 0 0-.37.265.301.301 0 0 0-.057.09V14l.002.008a.147.147 0 0 0 .016.033.617.617 0 0 0 .145.15c.165.13.435.27.813.395.751.25 1.82.414 3.024.414s2.273-.163 3.024-.414c.378-.126.648-.265.813-.395a.619.619 0 0 0 .146-.15.148.148 0 0 0 .015-.033L12 14v-.004a.301.301 0 0 0-.057-.09 1.318 1.318 0 0 0-.37-.264c-.376-.198-.943-.375-1.655-.493a.5.5 0 1 1 .164-.986c.77.127 1.452.328 1.957.594C12.5 13 13 13.4 13 14c0 .426-.26.752-.544.977-.29.228-.68.413-1.116.558-.878.293-2.059.465-3.34.465-1.281 0-2.462-.172-3.34-.465-.436-.145-.826-.33-1.116-.558C3.26 14.752 3 14.426 3 14c0-.599.5-1 .961-1.243.505-.266 1.187-.467 1.957-.594a.5.5 0 0 1 .575.411z"/>
                              </svg>
                          </button>
                        </div>
                    </div>

                    <!--DROP-OFF POINT FIELD-->
                    <div class="input-group mb-3">
                        <input type="text" id="drop-off" class="form-control" placeholder="Drop-off" aria-label="Drop-off" aria-describedby="basic-addon2">
                        <input type="hidden" id="latlng-dropoff" value="">
                        <div class="input-group-append">
                          <button class="geo-btn btn btn-outline-secondary" id="drop-off-btn" type="button" disabled>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999zm2.493 8.574a.5.5 0 0 1-.411.575c-.712.118-1.28.295-1.655.493a1.319 1.319 0 0 0-.37.265.301.301 0 0 0-.057.09V14l.002.008a.147.147 0 0 0 .016.033.617.617 0 0 0 .145.15c.165.13.435.27.813.395.751.25 1.82.414 3.024.414s2.273-.163 3.024-.414c.378-.126.648-.265.813-.395a.619.619 0 0 0 .146-.15.148.148 0 0 0 .015-.033L12 14v-.004a.301.301 0 0 0-.057-.09 1.318 1.318 0 0 0-.37-.264c-.376-.198-.943-.375-1.655-.493a.5.5 0 1 1 .164-.986c.77.127 1.452.328 1.957.594C12.5 13 13 13.4 13 14c0 .426-.26.752-.544.977-.29.228-.68.413-1.116.558-.878.293-2.059.465-3.34.465-1.281 0-2.462-.172-3.34-.465-.436-.145-.826-.33-1.116-.558C3.26 14.752 3 14.426 3 14c0-.599.5-1 .961-1.243.505-.266 1.187-.467 1.957-.594a.5.5 0 0 1 .575.411z"/>
                              </svg>
                          </button>
                        </div>
                    </div>
                    
                    <!--CALCULATE BUTTON-->
                    <div class="input-loc mb-3">
                        <button class="btn btn-primary" type="button" id="calculate">Calculate</button>
                    </div>

                    <!--CLEAR AND STOP BUTTONS-->
                    <div class="input-loc mb-3 inline-btns">
                        <!-- <input id="to_places" type="text" class="form-control">
                        <input type="hidden" id="destination" name="destination" required> -->
                        <!-- <small class="form-text">Error Message</small>                     -->
                        <button class="btn btn-outline-primary" type="button" id="clear">Clear</button>
                        <button class="btn btn-outline-primary" type="button" id="stop" disabled>Stop</button>
                    </div>
                </form>

                <div class="box">
                    <p> <span>Base Fare: </span>15:00</p>

                    <div class="fare-matrix">
                        <h1>0.00</h1>
                        <p id="display-distance">0km</p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <footer>
        <p>Commuters' Reports Management System</p>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    
    <script src="/js/watchloc.js"></script>
    <!-- &callback=initMap -->
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnwiqM3Iyf3GKxwq2yyFd2xNtpJnGdVHg&libraries=directions,places&callback=initMap" async defer>
    </script>

    
</body>

</html>