<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/history.css">

</head>

<body>

    <header>

        <nav class="navbar navbar-expand-md">
            <a href="home.html" class="navbar-brand"><h2>BiyaHeroes</h2></a>

            <button 
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#toggleMobileMenu"
            aria-controls="toggleMobileMenu"
            aria-expanded="false"
            aria-label="Toggle Navigation">
            
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="toggleMobileMenu">
                <ul class="navbar-nav ms-auto">

                    <li>
                        <a class="nav-link" href="report-violation.html">Report a Violation</a>
                    </li>

                    <li>
                        <a class="nav-link" href="report-missing-item.html">Report Missing Item</a>
                    </li>

                    <li>
                        <a class="nav-link active" href="history.html">Report History</a>
                    </li>

                    <li>
                        <a class="nav-link" href="fare-calc.html">Fare Calculator</a>
                    </li>

                    <li>
                        <a class="nav-link" href="#">Profile</a>
                    </li>

                    <li>
                        <a class="nav-link logout" href="#">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="banner">
            <h2>History</h2>
        </div>
    </header>

    <section class="container">

    <div class="search">
        <input type="text" class="form-control w-25" placeholder="Search">
        <img src="images/search.svg">
    </div>
          
        <table class="table table-hover text-center">
            <thead>
                <tr>
                    <th>Report ID</th>
                    <th>Type of Report</th>
                    <th>Body No.</th>
                    <th>Driver's Name</th>
                    <th>TODA</th>
                    <th>Date</th>
                    <th>Status</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <th scope="row" data-label="Report ID">000</th>
                    <td data-label="Type of Report">Violation</td>
                    <td data-label="Body No.">0505</td>
                    <td data-label="Driver's Name">Juan Dela Cruz</td>
                    <td data-label="TODA">Dela Paz Toda</td>
                    <td data-label="Date">Jan 01 2022</td>
                    <td data-label="Status">Pending</td>
                </tr>

                <tr>
                    <th scope="row" data-label="Report ID">001</th>
                    <td data-label="Type of Report">Missing Item</td>
                    <td data-label="Body No.">1234</td>
                    <td data-label="Driver's Name">Franz Maaba</td>
                    <td data-label="TODA">Jubilation Toda</td>
                    <td data-label="Date">Jan 05 2022</td>
                    <td data-label="Status">Resolved</td>
                </tr>

            </tbody>
        </table>
    </section>

    <footer>
        <p>Commuters' Reports Management System</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>

</body>
</html>