<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Violations</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/violation-list.css">
</head>
<body>

    <header>

        <nav class="navbar navbar-expand-md">
            <a href="home.html" class="navbar-brand"><h2>BiyaHeroes</h2></a>

            <button 
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#toggleMobileMenu"
            aria-controls="toggleMobileMenu"
            aria-expanded="false"
            aria-label="Toggle Navigation">
            
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="toggleMobileMenu">
                <ul class="navbar-nav ms-auto">

                    <li>
                        <a class="nav-link" href="report-violation.html">Report a Violation</a>
                    </li>

                    <li>
                        <a class="nav-link" href="report-missing-item.html">Report Missing Item</a>
                    </li>

                    <li>
                        <a class="nav-link active" href="#">List of Violations</a>
                    </li>

                    <li>
                        <a class="nav-link" href="fare-calc.html">Fare Calculator</a>
                    </li>

                    <li>
                        <a class="nav-link" href="profile.html">Profile</a>
                    </li>

                    <li>
                        <a class="nav-link logout" href="#">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="banner">
            <h2>List of Violations</h2>
        </div>
    </header>

    <section class="container">
        <div class="row my-3">
            <div class="col-md-6">
                <h5>Violation 1</h5>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore odio, soluta eligendi laudantium debitis corporis pariatur quaerat quia iure ut, reprehenderit ipsam, dolorem voluptatem. Eos!</p>
            </div>
            <div class="col-md-6">
                <h5>Violation 2</h5>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore odio, soluta eligendi laudantium debitis corporis pariatur quaerat quia iure ut, reprehenderit ipsam, dolorem voluptatem. Eos!</p>
            </div>
        </div>

        <div class="row my-3">
            <div class="col-md-6">
                <h5>Violation 3</h5>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore odio, soluta eligendi laudantium debitis corporis pariatur quaerat quia iure ut, reprehenderit ipsam, dolorem voluptatem. Eos!</p>
            </div>
            <div class="col-md-6">
                <h5>Violation 4</h5>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore odio, soluta eligendi laudantium debitis corporis pariatur quaerat quia iure ut, reprehenderit ipsam, dolorem voluptatem. Eos!</p>
            </div>
        </div>

        <div class="row my-3">
            <div class="col-md-6">
                <h5>Violation 5</h5>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore odio, soluta eligendi laudantium debitis corporis pariatur quaerat quia iure ut, reprehenderit ipsam, dolorem voluptatem. Eos!</p>
            </div>
            <div class="col-md-6">
                <h5>Violation 6</h5>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore odio, soluta eligendi laudantium debitis corporis pariatur quaerat quia iure ut, reprehenderit ipsam, dolorem voluptatem. Eos!</p>
            </div>
        </div>
    </section>

    <footer>
        <p>Commuters' Reports Management System</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</body>
</html>