body {
    background-color: var(--bg-clr);
    
}

.box {
    width: 40%;
    padding: 2em;
    border-radius: 12px;
    background-color: var(--bg-clr);
    position: relative;
    left: 30%;
    
}
.form {
    margin: 5em 0;
}


.change-pass input,
.change-pass input {
    border-radius: 7px;
    padding-bottom: 10px;
    margin: 5px;
    
}

.change-pass input:focus {
    outline: 0;
}
.change-pass small {
    font-family: var(--ff-body);
    font-style: italic;
    position: absolute;
    padding-top: 5px;
    visibility: hidden;
}

.btn button{
    font-size: 1rem;
    padding: .2em 1.5em;
    font-family: 'Montserrat', sans-serif;
    font-family: 500;
    color: var(--bg-clr);
    background-color: var(--tertiary-clr);
    border-radius: 6px;
    border:0;
    cursor:pointer;
    margin-top: 10px;
    position: relative;
    left: 0;
    
}
.popup {
    width: fit-content;
    padding: 1em;
    border-radius: 12px;
    background-color: var(--bg-clr);
    visibility: hidden;
    text-align: center;
}

.open-popup {
    visibility: visible;
    width: fit-content;
    padding: 2em;
    border-radius: 12px;
    background-color: var(--bg-clr);
    box-shadow: rgba(0, 0, 0, .5) 0 0 0 1000000px;
    position: absolute;
    left: 40%;
    bottom: 30%;
}  

.popup img {
    width: 100px;
    margin-top: 20px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2 {
    font-size: 45px;
    font-weight: 500;
    margin: 20px 0 10px;
    font-family: var(--ff-body)
}


.popup button {
    background-color: white;
    width: 100%;
    margin-top: 20px;
    padding: 10px 0;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.form-item.success input{
    border-color: #2ecc71;
}

.form-item.error input{
    border-color: #e74c3c;
}
.form-item.error small{
    color: #e74c3c;
    visibility: visible;
}
.form-item small {
    font-family: var(--ff-body);
    font-style: italic;
    position: relative;
    padding-top: 1em;
    visibility: hidden;
}

.banner {
    background-image:linear-gradient(
        rgba(0, 87, 146, 0.6),
        rgba(0, 87, 146, 0.6)), url("../images/binan-landscape.jpg");
    width: 100%;
    height: 120px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top: .25em solid var(--tertiary-clr);
    border-bottom: .25em solid var(--tertiary-clr);
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner > h2 {
    font-family: var(--ff-header);
    color: var(--bg-clr);
}

.navbar-brand > h2 {
    margin-left: 10px;
    font-family: var(--ff-header);
    
}

.nav-link,
h5,
.btn,
p {
    font-family: var(--ff-body);
}

h5 {
    color: var(--secondary-clr);
}

.header > h5 {
    margin: 0;
}