body {
    background-color: var(--bg-clr);
}

.banner {
    background-image:linear-gradient(
        rgba(0, 87, 146, 0.6),
        rgba(0, 87, 146, 0.6)), url("../images/binan-landscape.jpg");
    width: 100%;
    height: 120px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top: .25em solid var(--tertiary-clr);
    border-bottom: .25em solid var(--tertiary-clr);
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    margin: 0 1em;
}

.container {
    margin-top: 2em;
    margin-bottom: 2em;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.2em;
}

footer {
    background-color: var(--secondary-clr);
    color: var(--bg-clr);
}

/*PROFILE*/


.dataurl input{
    visibility: hidden;
}

.filepond--root {
    width: 180px;
    height: 180px;
}

/* hides fileponds default labels */
.filepond--drop-label.filepond--drop-label label {
    visibility: hidden;
}

/* FILEPOND CREDITS */
/* REMINDER TO INCLUDE A CREDITS TO FILEPOND SOMEWHERE ON THE WEBSITE */
.filepond--credits {
    visibility: hidden;
}

/*PROFILE INFORMATION*/
.profile-item.success input{
    border-color: #2ecc71;
}
.profile-item.error input{
    border-color: #e74c3c;
}

.profile-item input {
    margin: .50em 0;
    padding-bottom: 10px;
    position: relative;
    
}

.profile-item-change-pass input{
    margin: 1px;
    padding-bottom: 1em;
    position: relative;
    border: none ;
    border-radius: 10px;
    visibility: visible;
}


.profile-item input:focus {
    outline: 0;
}

.profile-item small {
    font-family: var(--ff-body);
    font-style: italic;
    position: relative;
    padding-top: 5px;
    visibility: hidden;
}

.profile-item.error small {
    color: #e74c3c;
    visibility: visible;
}

.form-control {
    margin: .50em 0;
    padding-bottom: 10px;
    position: relative;
    border: none;
    
}

.form-control:focus {
    outline: none;
    box-shadow: none;
}

input[type=number] {
    appearance: textfield;
}

.form-text {
    visibility: hidden;
}
.form-text.error {
    visibility: visible;
}

#save, #cancel {
    visibility: hidden;
}

.change-pass-btn {
    border: 1px solid #ced4da;
    font-size: .8rem;
    padding: .5em 2em;
    font-family: var(--ff-body);
    color: var(--bg-clr);
    background-color: var(--tertiary-clr);
    border-radius: 6px;
    border:0;
    cursor:pointer;
}

.change-pass-btn:hover {
    background-color: var(--tertiary-clr);
    background-image: linear-gradient(rgb(0 0 0/7%) 0 0);
    transition: 0.3s ease-in;
}

.profile-item-change-pass {
    visibility: hidden;
}

/*TYPOGRAPHY*/

.navbar-brand {
    font-family: var(--ff-header);
    color: var(--secondary-clr);
    
}

.container a {
    position: absolute;
    top: 61em;
    right: 9%;
}

.banner > h2 {
    font-family: var(--ff-header);
    color: var(--bg-clr);
}

.navbar-brand > h2 {
    margin: 0;
}

.nav-link,
h5,
.btn,
p {
    font-family: var(--ff-body);
}

h5 {
    color: var(--secondary-clr);
}

.header > h5 {
    margin: 0;
}

small {
    cursor: pointer;
}

small:hover {
    color: var(--tertiary-clr);
    transition: 0.2s;
}

footer > p {
    margin: 0;
    padding: .5em 0;
    text-align: center;
}

@media (min-width:320px) and (max-width:992px) {
    .col-md-4 {
        margin-bottom: 1.5em;
    }
}