body {
    background-color: var(--bg-clr);
}

.banner {
    background-image:linear-gradient(
        rgba(0, 87, 146, 0.6),
        rgba(0, 87, 146, 0.6)), url("../images/binan-landscape.jpg");
    width: 100%;
    height: 120px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top: .25em solid var(--tertiary-clr);
    border-bottom: .25em solid var(--tertiary-clr);
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    margin: 0 1em;
}

.container {
    margin-top: 2em;
    margin-bottom: 2em;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.2em;
}

footer {
    background-color: var(--secondary-clr);
    color: var(--bg-clr);
}

/*PROFILE*/

.filepond--root {
    width: 180px;
    height: 180px;
}

/* hides fileponds default labels */
.filepond--drop-label.filepond--drop-label label {
    visibility: hidden;
}

/* FILEPOND CREDITS */
/* REMINDER TO INCLUDE A CREDITS TO FILEPOND SOMEWHERE ON THE WEBSITE */
.filepond--credits {
    visibility: hidden;
}

/*PROFILE INFORMATION*/
    .form-control {
        border: 1px solid;
        border-color: black;
        padding-left: 0;
        font-family: var(--ff-body);
    }

    .form-control:focus {
        outline: none;
        box-shadow: none;
    }

    input[type=number] {
        appearance: textfield;
    }

    .form-text {
        visibility: hidden;
    }

    #save, #cancel {
        visibility: hidden;
    }

/*TYPOGRAPHY*/

.navbar-brand {
    font-family: var(--ff-header);
    color: var(--secondary-clr);
    
}

.banner > h2 {
    font-family: var(--ff-header);
    color: var(--bg-clr);
}

.navbar-brand > h2 {
    margin: 0;
}

.nav-link,
h5,
.btn,
p {
    font-family: var(--ff-body);
}

h5 {
    color: var(--secondary-clr);
}

.header > h5 {
    margin: 0;
}

small {
    cursor: pointer;
}

small:hover {
    color: var(--tertiary-clr);
    transition: 0.2s;
}

footer > p {
    margin: 0;
    padding: .5em 0;
    text-align: center;
}

@media (min-width:320px) and (max-width:992px) {
    .col-md-4 {
        margin-bottom: 1.5em;
    }
}